:root{
    --primary:#4f46e5;
    --secondary:#7c3aed;
    --dark:#0f172a;
    --light:#f8fafc;
    --card:#ffffff;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:'Segoe UI',sans-serif;
    background:var(--light);
    color:#222;
    transition:.4s;
}

body.dark{
    background:#020617;
    color:white;
}

/* NAVBAR */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    position:fixed;
    width:100%;
    z-index:1000;

    backdrop-filter:blur(15px);
    background:rgba(255,255,255,.1);
}

.logo{
    font-size:1.6rem;
    font-weight:bold;
}

.logo span{
    color:var(--primary);
}

/* HERO */

.hero-section{
    min-height:100vh;

    display:flex;
    align-items:center;

    background:
    linear-gradient(
        135deg,
        #4f46e5,
        #7c3aed
    );

    color:white;
}

.hero-text{
    max-width:700px;
}

.hero-text h1{
    font-size:4rem;
    margin-bottom:20px;
}

.hero-text p{
    font-size:1.2rem;
    line-height:1.7;
}

/* BOTÕES */

.btn-primary,
.btn-secondary{
    display:inline-block;
    margin-top:20px;
    padding:14px 28px;
    border-radius:12px;
    text-decoration:none;
    transition:.3s;
}

.btn-primary{
    background:white;
    color:#4f46e5;
}

.btn-primary:hover{
    transform:translateY(-4px);
}

.btn-secondary{
    border:2px solid white;
    color:white;
    margin-left:10px;
}

/* CARDS */

.cards-grid{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.card{
    background:rgba(255,255,255,.8);

    backdrop-filter:blur(15px);

    padding:25px;

    border-radius:20px;

    transition:.4s;
}

.card:hover{
    transform:
    translateY(-10px)
    scale(1.03);

    box-shadow:
    0 20px 40px rgba(0,0,0,.15);
}

/* QUIZ */

.quiz-container{
    max-width:800px;
    margin:auto;
}

.option-label{
    display:block;

    margin:15px 0;

    padding:18px;

    border-radius:12px;

    background:#f1f5f9;

    cursor:pointer;

    transition:.3s;
}

.option-label:hover{
    background:#dbeafe;
}

.feedback-box{
    margin-top:20px;
    padding:20px;
    border-radius:12px;
}

.correct{
    background:#dcfce7;
    color:#166534;
}

.incorrect{
    background:#fee2e2;
    color:#991b1b;
}

/* PROGRESS BAR */

.progress-bar{
    height:10px;
    background:#ddd;
    border-radius:20px;
    overflow:hidden;
    margin-bottom:25px;
}

.progress{
    height:100%;
    width:0%;
    background:linear-gradient(
        90deg,
        #4f46e5,
        #7c3aed
    );

    transition:.5s;
}

/* BOTÃO TOPO */

#backToTop{
    position:fixed;
    right:25px;
    bottom:25px;

    width:55px;
    height:55px;

    border:none;
    border-radius:50%;

    background:#4f46e5;
    color:white;

    cursor:pointer;

    display:none;

    font-size:20px;

    box-shadow:0 5px 20px rgba(0,0,0,.2);
}
